apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: dac
  name: dac
spec:
  replicas: 4
  selector:
    matchLabels:
      app: dac
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: dac
    spec:
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
      containers:
      - name: dac
        image: delasoul/demo-akka-cluster:latest
        imagePullPolicy: Never
        ports:
        # akka remoting
        - name: remoting
          containerPort: 25520
          protocol: TCP
        # akka-management bootstrap
        - name: akka-mgmt-http
          containerPort: 8558
          protocol: TCP
        # external http
        - name: http
          containerPort: 8080
          protocol: TCP
        volumeMounts:
        - mountPath: /dev/shm
          name: dshm

---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pod-reader
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["pods"]
  verbs: ["get", "watch", "list"]

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: read-pods
subjects:
- kind: User
  name: system:serviceaccount:default:default # 1st default == namespace, 2nd default == service account name
roleRef:
  kind: Role
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io